@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit', sans-serif !important;
}

h1 {
    font-size: 30px !important;

}

html {
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.menu {
    background: linear-gradient(to bottom, #000, #251440);
    display: grid;
    align-content: space-evenly;
    padding-left: 2.7rem;
}

.menu li {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

.menu li img {
    padding-left: 1rem;
    width: 24px;
    height: 24px;
}

.menu-item {
    /* Defina o estilo padrão do elemento */
    background: transparent;
    border-radius: 6px;
    transition: 0.9s;
    margin-bottom: 0.1rem;
}

.menu-item:hover {
    /* Aplique o estilo do hover */
    background: #6158D2;
}


.active-page {
    background: linear-gradient(to right, #6158D2, #251440);
    border-radius: 6px;
}

.active-page:hover {
    background: linear-gradient(to right, #251440, #6158D2);
}

.main-content {
    background-color: #0E0E12;
    padding: 0rem 1rem 0rem 1rem;
}

.main-content .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.main-content .header .user-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center; */
    flex-wrap: nowrap;
    flex-direction: row;
}

.main-content .header .user-content img {
    width: 36px;
    height: 36px;
    padding-right: 20px;
}

.main-content .search-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 50vw;
    background-color: #24242d;
    border-radius: 7px;

}

.main-content .search-bar .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 3rem .5rem 0rem;
}

.main-content .search-bar .content .search {
    /* padding: 10px 30px 10px 30px; */
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    background: #B6A4DD;
}

.main-content .search-bar .content .search img {
    width: 12px;
    height: 12px;
}

.main-content .search-bar .content .input-search {
    /* width: auto; */
    padding: 10px 0;
    width: 300px;
    background: #D9D9D9;
    border-radius: 7px;
    background: #D9D9D9;
    padding-left: 10px;
}

.main-content .search-bar .content .btn-add {
    padding: 10px 30px 10px 30px;
    background-color: #B6A4DD;
    color: #000;
    border-radius: .3rem;
    text-decoration: none;
}

ul.users {
    background-color: #24242D;
}

.main-content .users li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.main-content .users .user-params {
    background-color: #B6A4DD;
    color: #000;
    margin-bottom: 12px;
    padding: 9px 0px 9px 0px;
    border-radius: 3px;
    /* border: 1px solid red; */
}

.main-content .users .user {
    background-color: #d9d9d9;
    color: #000;
    margin-bottom: 6px;
    padding: 9px 0px 9px 0px;
    border-radius: 3px;
    /* border: 1px solid blue; */
}

.active {
    background-color: #A6DAB3;
    max-width: max-content;
    padding: 5px;
    /* Adicione algum espaço ao redor do texto, se desejar */
    border-radius: 15px;
}

.disabled {
    background-color: #E09D9D;
    max-width: max-content;
    padding: 5px;
    /* Adicione algum espaço ao redor do texto, se desejar */
    border-radius: 15px;
}


.switch-align {
    display: flex;
    justify-self: flex-end !important;
    padding-right: 1rem;
}

.edit-align {
    display: flex;
    justify-self: flex-start;
    padding-left: 2rem
}

.edit-icon {
    width: 31px;
    height: 31px;
}

/* Layoy's checkbox */
/* :root {
    --text-color: white;
    --bg-url: url(../assets/ball.svg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../assets/ball.svg);
}

.switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
    cursor: pointer;
}





.switch button {
    width: 19px;
    height: 19px;

    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    transition: left 0.4s ease;
    min-left: 0;
    max-left: calc(100% - 32px);
}



.light #switch button {
    animation: slide-in 0.4s forwards;
    left: 0;

}



.switch.moved button {
    left: calc(100% - 35px);
}

.switch.light span {
    background-color: #2E7A48;
}

.switch button:hover {
    outline: 8px solid var(--highlight-color);
}


.switch span {
    display: block;
    width: 50px;
    height: 22px;
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

    transition: background-color 0.4s ease;
    background-color: #AF2424;
}

@keyframes slide-back {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
} */