:root {
  --text-color: white;
  --bg-url: url(../assets/ball.svg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets/ball.svg);
  --chartSize: 260px;
  --default-pad: 2.5rem;
  --defaultBorderRadius: 23px;
  --defaultGap: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: var(--font-size-h1) !important;
}

html {
  color: var(--text-color);
}

p {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.logo {
  width: 155px;
  height: 100px;
}

.lupa {
  height: 35px;
}

.menu {
  background: linear-gradient(to bottom, #000, #251440);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .logo {
  width: 155px;
  height: 100px;
  margin-bottom: 30px;
}

.menu li {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
}

.menu li img {
  padding-left: 1rem;
  width: 24px;
  height: 24px;
}

.menu-item {
  background: transparent;
  border-radius: var(--defaultBorderRadius);
  transition: 0.9s;
  margin-bottom: 0.1rem;
}

.menu-item:hover {
  background: #6158d2;
}

.active-page {
  background: linear-gradient(to right, #6158d2, #251440);
  border-radius: 6px;
}

.active-page:hover {
  background: linear-gradient(to right, #251440, #6158d2);
}

.main-content {
  background: var(--background-nav-color);
  flex-grow: 1;
  padding-left: var(--default-pad);
  padding-right: var(--default-pad);
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--small-pad);
  margin-bottom: var(--small-pad);
}

.topnav h1 {
  color: var(--text-color);
  font-size: 35px;
}

.topnav .account {
  margin-right: var(--larger-pad);
}

.account .perfil-user .seta-dropdown {
  width: 15px !important;
  height: 15px !important;
}

.account .dropdown {
  display: none;
  position: absolute;
  background-color: #2c2d24;
  list-style: none;
  padding: 10px;
  margin: 0;

  width: 100px;
}

.account:hover .dropdown {
  display: block;
  align-items: center;
}

.account .dropdown li:hover {
  box-shadow: 0.5px 0.5px 5px 0.5px #585863; /* Adiciona sombra ao passar o mouse */
}

.account .perfil-user {
  list-style-type: none;
}

.account .perfil-user a {
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color);
  font-size: 14px;
}


.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  color: white;
}
.header p {
  color: white;
}

.header .user-content {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: nowrap;
  flex-direction: row;
}

.header .user-content img {
  width: 36px;
  height: 36px;
  padding-right: 20px;
}

.user-content section ul li {
  display: flex;
  gap: var(--defaultGap);
}

/* .filter-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 100%;
} */

.filter-column{
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  gap: var(--defaultGap);

}

/* .filter-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: auto;

  color: white;
} */

.crfiltro {
  width: 100%;
  background-color: var(--background-search-bar);
  border-radius: var(--defaultBorderRadius);
}

.clientefiltro {
  width: 100%;
  height: auto;
  background-color: var(--background-search-bar);
  border-radius: var(--defaultBorderRadius);
}

.actions {
  display: flex;
  justify-content: space-between;
}


.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

.switch button {
  width: 19px;
  height: 19px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: left 0.4s ease;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
  left: 0;
}

.switch.moved button {
  left: calc(100% - 35px);
}

.switch.light button {
  margin-left: 1.5008px;
}

.switch.light span {
  background-color: var(--background-switch-hover);
}

.switch button:hover {
  outline: 8px solid var(--highlight-color);
}

label {
  display: block;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-top: 30px;
}

select {
  width: 100%;
  margin-bottom: var(--small-pad);
  margin-left: 20px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-column2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: var(--defaultGap);
  margin-bottom: 3%;
  color: white;
}

.filter-column2 .tipofiltro {
  width: 100%;
  height: auto;
  background-color: var(--background-search-bar);
  border-radius: var(--defaultBorderRadius);
}

.filter-column2 .statusfiltro {
  width: 100%;
  height: auto;
  background-color: var(--background-search-bar);
  border-radius: var(--defaultBorderRadius);
}

.filtros-cr-cliente {
  height: 10%;
  display: flex;
  margin-bottom: 1px;
  gap: var(--defaultGap);
}

.display-horas {
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: var(--defaultGap);
  margin-bottom: 3%;
}

.horas-stt {
  width: 100%;
  height: 110px;
  border-radius: var(--defaultBorderRadius);
  background-color: #24242d;
  display: flex;
  flex-direction: column;
}

.custom-label-painel-status {
  font-family: "Arial";
  font-size: 150%;
  font-weight: 700;
  line-height: 10px;
  text-align: left;
  height: 36%;
  width: 95%;
}

.status-painel {
  font-size: 300%;
  font-weight: 700;
  line-height: 4px;
  text-align: left;
  height: 100%;
}

.minhas-horas{
  height: 30%;
  border-radius: 23px;
  background-color: #24242d;
  display: flex;
  padding: 15px 26px;
}

.titulo-status {
  width: 50%;
  height: 90%;
  border-radius: 10px;
  background-color: #24242d;
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
}

.titulo{
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  height: 10%;
  padding-top: 0%;
}

.titulo-titulo{
  height: 43%;
  margin-top: 7%;
  margin-bottom: 48%;
}

.status {
  height: 47%;
  gap: var(--defaultGap);
  display: flex;
  flex-direction: column;
}

.status-aprovadas {
  height: 33%;
}

.status-label {
  font-size: 20px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  gap: var(--defaultGap);
}

.status-reprovadas {
  height: 33%;
}

.status-pendentes {
  height: 33%;
}

.grafico {
  width: 50%;
  height: 100%;
  border-radius: var(--defaultBorderRadius);
  background-color: #24242d;
  display: flex;
  /* padding: 15px 26px; */
  flex-direction: column;
  justify-content: center;
}

.grafico-grafico {
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--chartSize);
  width: var(--chartSize);
  border-radius: 100%;
  background-image: conic-gradient(
    #d86666 25%,
    #eadd6e 25% 75%,
    #8dd88b 75% 100%
  );
}

.vazio {
  width: 30%;
  height: 90%;
  border-radius: 23px;
  background-color: #24242d;
  display: flex;
  padding: 15px 26px;
  flex-direction: column;
}

.export_content {
  display: flex;
  justify-content: end;
  padding-bottom: 3%;
}

#buttonExport {
  background-color: #f11075;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  background: #0e0e12;
  margin: 5% auto;
  padding: 20px;
  border: 25px solid var(--background-modal-content);
  border-radius: 5px;
  position: relative;
  width: 801px;
  height: 541px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.datas{
  display: flex;
  flex-direction: row;
  gap: var(--defaultGap);
}


.dataInicioRelatorio, .dataFimRelatorio{
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: var(--defaultGap);
}

.dataRelatorio{
  color: white;
  font-size: 20px;
}

#data-inicioRelatorio, #data-fimRelatorio{
  width: 18vw;

  background-color: var(--background-search-bar);
  border-radius: 7px;
  padding: 0rem 0rem 1rem 0rem;
  color: white;
  border: none;
  text-align: center;
  padding: 20px 5px;
}


#selecionarCrRelatorio,
#selecionarUsuarioRelatorio ,
#selecionarTipoHoraRelatorio,#selecionarClienteRelatorio, 
#selecionarTipoRelatorio, #selecionarStatusRelatorio{
  width: 100%;
  background-color: var(--background-search-bar);
  border-radius: 7px;
  padding: 0rem 0rem 1rem 0rem;
  color: white;
  border: none;
  text-align: center;
  padding: 20px 5px;
}


#exportarRelatorio{
  background-color: #f11075;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 0  auto ;
}
.modal-content > h1{  
  display: flex;
  justify-content:flex-start;
  align-items:right;
}