@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: var(--font-size-h1) !important;
}

html {
  color: var(--text-color);
}

p {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.logo {
  width: 155px;
  height: 100px;
}

.lupa {
  height: 35px;
}

.menu {
  background: linear-gradient(to bottom, #000, #251440);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .logo {
  width: 155px;
  height: 100px;
  margin-bottom: 30px;
}

.menu li {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
}

.menu li img {
  padding-left: 1rem;
  width: 24px;
  height: 24px;
}

.menu-item {
  /* Defina o estilo padrão do elemento */
  background: transparent;
  border-radius: 6px;
  transition: 0.9s;
  margin-bottom: 0.1rem;
}

.menu-item:hover {
  /* Aplique o estilo do hover */
  background: #6158d2;
}

.active-page {
  background: linear-gradient(to right, #6158d2, #251440);
  border-radius: 6px;
}

.active-page:hover {
  background: linear-gradient(to right, #251440, #6158d2);
}
.main-content {
  background: var(--background-nav-color);
  flex-grow: 1;
  padding-left: var(--default-pad);
  padding-right: var(--default-pad);
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--small-pad);
  margin-bottom: var(--small-pad);
}

.topnav h1 {
  color: var(--text-color);
  font-size: 35px;
}

.topnav .account {
  margin-right: var(--larger-pad);
}

.account .perfil-user .seta-dropdown {
  width: 15px !important;
  height: 15px !important;
}

.account .dropdown {
  display: none;
  position: absolute;
  background-color: #24242d;
  list-style: none;
  padding: 10px;
  margin: 0;

  width: 100px;
}

.account:hover .dropdown {
  display: block;
  align-items: center;
}

.account .dropdown li:hover {
  box-shadow: 0.5px 0.5px 5px 0.5px #585863; 
}

.account .perfil-user {
  list-style-type: none;
}

.account .perfil-user a {
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color);
  font-size: 14px;
}

.main-content {
  background-color: var(--background-main-content);
  padding-left: 20px;
  padding: 17px 37px 93px 32px;
}

.main-content .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  color: white;
}
.main-content .header p {
  color: white;
}

.main-content .header .user-content {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: nowrap;
  flex-direction: row;
}

.main-content .header .user-content img {
  width: 36px;
  height: 36px;
  padding-right: 20px;
}

.user-content section ul li {
  display: flex;
  gap: 10px;
}

.main-content .search-bar {
  margin-bottom: 5px;
  width: 50vw;
  background-color: var(--background-search-bar);
  border-radius: 7px;
  padding: 0rem 3rem 0rem 0rem;
}

.main-content .search-bar .content {
  margin-left: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem 0.5rem 0rem;
}

.main-content .search-bar .content a {
  background-color: var(--background-search-button);
  color: var(--text-color);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.main-content .search-bar .content .input-search {
  width: 407px;
  padding: 10px 0;
  border-radius: 7px;
  background: var(--background-input-search);
  padding-left: 10px;
  border: none;
}

.search-button {
  height: 10px;

}

.search-icon {
    height: 20px;
}

.reprovar-button {
    background-color: #d86666;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
  
.aprovar-button {
    background-color: #8dd88b;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    display: inline-block;
    margin-bottom: 10px;
  }

.main-content .colunName ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 9px 50px;
  background-color: var(--background-users-ul);
  color: black;
  margin-bottom: 10px;
  border-radius: 3px;
}

.main-content .colunName ul li {
}

.user-add {
  border-radius: 7px;
  background: var(--background-user-add);
  border: none;
  padding: 10px 25px;
  color: #000;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  transition: background-color 0.9s;
}

.main-content .user ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  background-color: var(--background-user-ul);
  color: var(--text-color);
  margin-bottom: 10px;
  padding: 9px 0px 9px 9px;
  border-radius: 3px;
}

.active {
  background-color: var(--background-active);
  max-width: max-content;
  padding: 4px 4px;
  border-radius: 4px;
}

.rendered-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 9px 50px;
  background-color: var(--background-lista);
  color: var(--text-color);
  margin-bottom: 10px;
  border-radius: 3px;
}

.rendered-lista p {
}

.actions {
  display: flex;
  justify-content: space-between;
}

.column {
}

:root {
  --text-color: white;
  --bg-url: url(../assets/ball.svg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets/ball.svg);
}

.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

.switch button {
  width: 19px;
  height: 19px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: left 0.4s ease;
  min-left: 0;
  max-left: calc(100% - 32px);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
  left: 0;
}

.switch.moved button {
  left: calc(100% - 35px);
}

.switch.light button {
  margin-left: 1.5008px;
}

.switch.light span {
  background-color: var(--background-switch-hover);
}

.switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.switch span {
  display: block;
  width: 50px;
  height: 22px;
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  transition: background-color 0.4s ease;
  background-color: var(--background-light-switch);
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

.search-content {
  display: flex;
  gap: 20px;
}

.search-content .search-icon {
  border-radius: 7px !important;
  background: #b6a4dd !important;
  transition: background-color 0.9s !important;
  padding: 10px 30px 10px 30px !important;
}

.search-icon img {
  height: 25px;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal);
  z-index: 10;
}

#gerenciar-cr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  border: 1px solid rgb(144, 0, 255);
}

.modal-content {
  background-color: #24242d;
  margin: 5% auto;
  padding: 20px;
  border: 25px solid var(--background-modal-content);

  text-align: center;
  border-radius: 5px;
  position: relative;
  height: 200px;

  width: 801px;
  height: 541px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.actions img {
  cursor: pointer;
}

.status-item {
  padding: 5px 10px;
  width: 50px;
  background-color: var(--background-light-switch);
  border-radius: 4px;
  color: white;
  text-align: center;
}

.status-item-inativo {
  padding: 5px 10px;
  width: 50px;
  background-color: var(--background-switch-hover);
  border-radius: 4px;
  color: white;
}
.page-navegation {
  width: 100%;
}
.page-navegation:hover {
  background: #6158d2;
}

/* Adicione estilos CSS para o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}

.dropdown .dropdown-content .show {
  display: block !important;
}

.pop-up-adicionar-usu-rio,
.pop-up-adicionar-usu-rio * {
  box-sizing: border-box;
}
.pop-up-adicionar-usu-rio {
  background: #0e0e12;
  width: 861px;
  height: 594px;
  position: relative;
  overflow: hidden;
}
.rectangle-24 {
  background: #24242d;
  border-radius: 13px;
  width: 801px;
  height: 541px;
  position: absolute;
  left: 30px;
  top: 27px;
}
.cancelar {
  background: #d86666;
  border-radius: 7px;
  width: 144px;
  height: 42px;
  position: absolute;
  left: 306px;
  top: 413px;
  color: #000000;
  cursor: pointer;
  font: 400 20px/27.5px "Inter", sans-serif;
  border: none;
}

.cancelar:hover {
  background: #ff4b4b;
}
.confirmar {
  background: #8dd88b;
  border-radius: 7px;
  width: 144px;
  height: 42px;
  position: absolute;
  left: 569px;
  top: 413px;
  cursor: pointer;
  font: 400 20px/27.5px "Inter", sans-serif;
  color: #000000;

  border: none;
  text-align: center;
}

.title-modal {
  color: #ffffff;
  text-align: center;
  font: 700 36px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: calc(50% - 150.5px);
  top: 69px;
  width: 301px;
  height: 32px;
}
.input-1 {
  background: #d9d9d9;
  border-radius: 7px;
  width: 407px;
  height: 42px;
  position: absolute;
  left: 305.74px;
  top: 295px;
  border: none;
}
.input-2 {
  background: #d9d9d9;
  border-radius: 7px;
  width: 407px;
  height: 42px;
  position: absolute;
  left: 305.74px;
  top: 236px;
  border: none;
}
.input-3 {
  background: #d9d9d9;
  border-radius: 7px;
  width: 407px;
  height: 42px;
  position: absolute;
  left: 305.74px;
  top: 177px;
  border: none;
}
.nome-input {
  color: #ffffff;
  text-align: left;
  font: 600 24px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 149px;
  top: 182px;
  width: 116.93px;
  height: 32px;
}
.sigla-input {
  color: #ffffff;
  text-align: left;
  font: 600 24px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 149px;
  top: 241px;
  width: 116.93px;
  height: 32px;
}
.codCr-input {
  color: #ffffff;
  text-align: left;
  font: 600 24px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 149px;
  top: 300px;
  width: 116.93px;
  height: 32px;
}

.success-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

.error-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

.list-of-itens {
  overflow-y: auto;

  height: 60vh;
}

.icons {
  display: flex;

  align-items: center;
  gap: 15px;
}

.addMembers {
  width: 25px;
  height: 25px;
  transition: filter 0.3s;
}

.addMembers:hover {
  filter: brightness(1.2);
}

.config {
  width: 25px;
  height: 25px;
  transition: filter 0.3s;
}

.config:hover {
  filter: brightness(1.2);
}

.gerenciar-cr,
.gerenciar-cr * {
  box-sizing: border-box;
}
.gerenciar-cr {
  background: #0e0e12;
  width: 1066px;
  height: 594px;
  position: relative;
  overflow: hidden;
}

.gerenciar-cr,
.gerenciar-cr * {
  box-sizing: border-box;
}
.gerenciar-cr {
  background: #0e0e12;
  width: 1066px;
  height: 594px;
  position: relative;
  overflow: hidden;
}
.list-users {
  background: #24242d;
  border-radius: 0px 0 5px 5px;
  width: 253px;
  height: 470px;
  position: absolute;
  left: 30px;
  top: 72px;
  margin-top: 40px;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rectangle-31 {
  background: #24242d;
  border-radius: 13px;
  width: 253px;
  height: 496px;
  position: absolute;
  left: 299px;
  top: 72px;
}
.rectangle-27 {
  background: #b3a4de;
  border-radius: 7px;
  width: 144px;
  height: 42px;
  position: absolute;
  left: 354px;
  top: 502px;
}
.rectangle-63 {
  background: #63c0f4;
  border-radius: 7px;
  width: 144px;
  height: 42px;
  position: absolute;
  left: 354px;
  top: 183px;
}
.members-Cr {
  background: #24242d;
  border-radius: 13px;
  width: 469px;

  position: absolute;
  left: 568px;
  top: 72px;
  border-radius: 0px 0 5px 5px;
  height: 470px;

  margin-top: 40px;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rectangle-23 {
  background: #b3a4de;
  border-radius: 8px 8px 0 0px;
  width: 253px;
  height: 41px;
  position: absolute;
  left: 30px;
  top: 72px;
}
.rectangle-33 {
  background: #b3a4de;
  border-radius: 8px 8px 0 0;
  width: 469px;
  height: 41px;
  position: absolute;
  left: 568px;
  top: 72px;
}
.usu-rio {
  color: #000000;
  text-align: left;
  font: 400 24px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 114px;
  top: 80px;
  width: 86px;
  height: 24px;
}
.usu-rio2 {
  color: #000000;
  text-align: left;
  font: 400 24px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 638px;
  top: 80px;
  width: 85px;
  height: 24px;
}
.fun-o {
  color: #000000;
  text-align: left;
  font: 400 24px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 882px;
  top: 80px;
  width: 86px;
  height: 24px;
}
.removerUsuario {
  background: #d86666;
  border-radius: 7px;
  width: 144px;
  height: 42px;
  position: absolute;
  left: 354px;
  top: 335px;
  border: none;
  cursor: pointer;
}
.adicionarUsuario {
  background: #8dd88b;
  border-radius: 7px;
  width: 144px;
  height: 42px;
  position: absolute;
  left: 354px;
  top: 259px;
  border: none;
  cursor: pointer;
}
.navbar {
  color: #ffffff;
  text-align: left;
  font: 700 36px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: calc(50% - 503px);
  top: 23px;
}
.rectangle-40 {
  color: #000000;
  text-align: left;
  font: 400 48px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 399px;
  top: 342px;
}
.rectangle-50 {
  color: #000000;
  text-align: left;
  font: 400 48px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 399px;
  top: 266px;
}
.gestor {
  color: #000000;
  text-align: left;
  font: 400 20px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 395px;
  top: 190px;
  border: none;
  background-color: #63c0f4;
  text-align: center;
}
.voltar {
  color: #000000;
  text-align: left;
  font: 400 20px/27.5px "Outfit", sans-serif;
  position: absolute;
  left: 395px;
  top: 509px;
}
.users-free {
  background: #d9d9d9;
  border-radius: 5px;

  padding: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Inter";
  font-size: 16px;
}

/* Estilo para itens selecionados */
.users-free.selected {
  filter: brightness(1.2); /* Aumenta o brilho para 120% */
}

.users-members {
  background: #d9d9d9;
  border-radius: 5px;

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-family: "Inter";
  font-size: 16px;
}
.users-members.selected {
  filter: brightness(1.2); /* Aumenta o brilho para 120% */
}

.checkboxWithUser,
.checkboxWithUserForaCR {
  display: flex;
  gap: 4px;
  align-items: center;
}
