:root {
    --text-color: #FFFFFF;
    --background-nav-color: #0E0E12;
    --background-bar-color: #B3A4DE;
    --gradient-navbar: linear-gradient(to bottom, #0B0B0E, #251440, #0B0B0E);
    --default-pad: 2rem;
    --big-pad: calc(var(--default-pad)*2);
    --default-pad: 2rem;
    --big2-pad: calc(var(--default-pad)*3);
    --medium-pad: calc(var(--default-pad)/2);
    --small-pad: calc(var(--default-pad)/4);
    --mini-pad: calc(var(--default-pad)/6);
    --default-margin: 3%;
    --mini-margin: calc(var(--default-margin)/2);
    --mini2-margin: calc(var(--default-margin)/3);
    --min-margin: calc(var(--default-margin)/6);
    --min2-margin: calc(var(--default-margin)/8);
    --medium-margin: calc(var(--default-margin)*3);
    --med-margin: calc(var(--default-margin)*2);
    --big-margin: calc(var(--default-margin)*6);
    --big2-margin: calc(var(--default-margin)*8);
    --big3-margin: calc(var(--default-margin)*10);
    --big4-margin: calc(var(--default-margin)*12);
    --larger-margin: calc(var(--default-margin)*4);
    --default-button: .5rem;
}

body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    color: var(--text-color);
    background-color: blue;
    /*teste fundo*/
}

.grid-screen {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: min-content min-content 70%;
    height: 100%;
    width: 100%;
    background-color: var(--background-nav-color);
    overflow: auto;
}

.topnav {
    background-color: (--background-nav-color);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panelnav {
    background-image: var(--gradient-navbar);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interactivebar {
    background-color: #24242D;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 10px;
    margin-left: var(--default-margin);
    margin-right: var(--big2-margin);
    padding: var(--mini-margin);
    display: flex;
    align-items: center;
}

.main-content {
    background: var(--background-nav-color);
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
    overflow: auto;
}


.logo2rp {
    margin-top: var(--default-margin);
}

.menu {
    margin-top: var(--big2-margin);
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: var(--big-margin);
}

.menu a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
    white-space: nowrap;
}

.menu img {
    margin-right: var(--big-margin);
}

.menu .activation {
    background: linear-gradient(to right, #7468FF, #282272, #251440);
    border-radius: 12px;
    padding: 2%;

}

.topnav .title-screen {
    margin-left: var(--default-margin);
}

.topnav .account {
    margin-right: var(--larger-margin);
}

.account .dropdown {
    display: none;
    position: absolute;
    background-color: #24242D;
    list-style: none;
    padding: 12px;
}

.account:hover .dropdown {
    display: block;
    align-items: center;
}

.account .dropdown li {
    padding: 5px;
}

.account .dropdown li:hover {
    box-shadow: .7px .7px 7px .7px #585863;
}

.account .dropdown li a {
    font-size: 18px;
    word-wrap: break-word;
}

.account .perfil-user {
    list-style-type: none;
}

.account .perfil-user a {
    text-decoration: none;
    font-size: 22px;
    color: var(--text-color);
}

.account .perfil-user a .seta-dropdown {
    font-size: 16px;
}

.search-bar {
    background-color: #D9D9D9;
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    font-size: 18px;
    margin-left: var(--mini-margin);
    width: 40%;
    padding: var(--min-margin) var(--med-margin) var(--min-margin) var(--mini-margin);
}

.interactivebar .search-button {
    background-color: var(--background-bar-color);
    border-radius: 7px;
    padding: var(--min-margin) var(--mini-margin) var(--min-margin) var(--mini-margin);
    margin-left: var(--min-margin);
}

.interactivebar .add-button {
    background-color: var(--background-bar-color);
    border-radius: 7px;
    font-size: 18px;
    padding: var(--min-margin) var(--mini-margin) var(--min-margin) var(--mini-margin);
    margin: var(--mini-margin) 0 var(--mini-margin) var(--big-margin);
}

#tabelaCliente {
    border-collapse: collapse;
    margin-left: var(--default-margin);
    margin-right: var(--default-margin);
    width: 90%;
}

#tabelaCliente th {
    position: sticky;
    top: 0;
    background-color: #B3A4DE;
    color: #000000;
    font-size: 20px;
    padding: var(--min-margin);
    text-align: center;
}

#tabelaCliente td {
    text-align: center;
    padding: var(--mini2-margin);
}

#tabelaCliente th:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 15%;
}

#tabelaCliente th:nth-child(2) {
    width: 35%;
}

#tabelaCliente th:nth-child(3) {
    width: 25%;
}

#tabelaCliente th:nth-child(4) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.toggle-button {
    background: green;
    cursor: pointer;
    text-indent: -9999px;
    width: 25%;
    height: 25px;
    display: block;
    border-radius: 15px;
    position: relative;
}

.toggle-button:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 25%;
    height: 13px;
    background: #fff;
    border-radius: 100px;
    transition: 0.3s;
}
