:root{
    --text-color: #FFFFFF;
    --background-nav-color: #0E0E12;
    --gradient-navbar: linear-gradient(to bottom, #0B0B0E, #5C1FDC, #9DB2BF);
    --default-pad: 2.5rem;
    --medium-pad: calc(var(--default-pad)/2);
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Outfit, sans-serif;
    color: var(--text-color);
    display: flex;
}

.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menus{
    padding: var(--default-pad);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panelnav{
    background: var(--gradient-navbar);
    display: flex;
    flex-direction: column;
    
}

