:root{
    --text-color: #FFFFFF;
    --background-nav-color: #0E0E12;
    --gradient-navbar: linear-gradient(to bottom, #0B0B0E , #251440, #0B0B0E);
    --default-pad: 2.5rem;
    --medium-pad: calc(var(--default-pad)/2);
    --small-pad: calc(var(--default-pad)/4);
    --mini-pad: calc(var(--default-pad)/6);
    --larger-pad: calc(var(--default-pad)*2);
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Outfit, sans-serif;
    color: var(--text-color);
    display: flex;
}

.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--medium-pad) 0rem 0rem 0rem;
}

.menu li img {
    padding-right: var(--medium-pad);
}

.menu .activation{
    background: linear-gradient(to right, #7468FF, #19191F);
    border-radius: 14px;
}

.menus{
    margin: var(--default-pad);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menus img {
    margin-top: var(--mini-pad); 
}

.panelnav{
    background-image: var(--gradient-navbar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-content{
    background: var(--background-nav-color);
    flex-grow: 1;
    padding-left: var(--default-pad);
    padding-right: var(--default-pad);
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--small-pad);
}

main{
    display: flex;
    flex-direction: column;
}

.interactivebar{
    display: flex;
    align-items: center;
    margin-top: var(--larger-pad);
    margin-bottom: var(--default-pad);
}

.interactivebar button {
    margin-right: var(--larger-pad);

}

#tabelaCliente th {
    background-color: #B3A4DE;
    color: #333;
    font-weight: bold;
    padding: var(--small-pad);
    border-radius: 8px;
}

#tabelaCliente th:nth-child(4) {
    /* Estilizar especificamente a quarta coluna */
}