:root{
    --text-color: #FFFFFF;
    --background-nav-color: #0E0E12;
    --background-bar-color: #B3A4DE;
    --gradient-navbar: linear-gradient(to bottom, #0B0B0E, #251440, #0B0B0E);
    --default-pad: 2.5rem;
    --medium-pad: calc(var(--default-pad)/2);
    --small-pad: calc(var(--default-pad)/4);
    --mini-pad: calc(var(--default-pad)/6);
    --larger-pad: calc(var(--default-pad)*2);
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Outfit, sans-serif;
    color: var(--text-color);
    display: flex;
}

.logo{
    width: 155px; 
    height: 100px;
}

.lupa{
    height: 35px;
}

.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--medium-pad) 0rem 0rem 0rem;
}

.menu li img {
    padding-right: var(--medium-pad);
    margin: var(--small-pad);
}

.menu li a {
    color: var(--text-color); 
    text-decoration: none; 
}

.menu .activation{
    background: linear-gradient(to right, #7468FF, #282272, #251440);
    border-radius: 15px;
}

.menus{
    margin: var(--default-pad);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menus img {
    margin-top: var(--mini-pad); 
}

.panelnav{
    background-image: var(--gradient-navbar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content{
    background: var(--background-nav-color);
    flex-grow: 1;
    padding-left: var(--default-pad);
    padding-right: var(--default-pad);
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--small-pad);
    margin-bottom: var(--small-pad);
}

.topnav h1{
    color: var(--text-color);
    font-size: 35px;
}

.topnav .account{
    margin-right: var(--larger-pad);
}

.account .dropdown {
    display: none;
    position: absolute;
    background-color: #24242D;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.account:hover .dropdown {
    display: block;
    align-items: center;
}

.account .dropdown li:hover {
    box-shadow: .5px .5px 5px .5px #585863; /* Adiciona sombra ao passar o mouse */
}

.account .perfil-user {
    list-style-type: none;
}

.account .perfil-user a {
    text-decoration: none;
    font-size: 22px;
    color: var(--text-color);
}

.account .perfil-user a .seta-dropdown {
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
}

.interactivebar{
    display: flex;
    align-items: center;
    background-color: #24242D;
    height: 80px;
    width: 800px;
    margin-bottom: var(--medium-pad);
    border-radius: 10px; 
}

.interactivebar .search-button {
    margin-right: var(--larger-pad);
    margin-left: var(--medium-pad);
    background-color: var(--background-bar-color);
    border-radius: 7px; 
    height: 40px;
    width: 80px;
}

.interactivebar .add-button {
    margin-right: var(--larger-pad);
    margin-left: var(--small-pad);
    background-color: var(--background-bar-color);
    border-radius: 7px;
    height: 40px;
    width: 145px;
    font-size: 22px;
}

.interactivebar .search-bar {
    margin-left: var(--small-pad);
    background-color: #D9D9D9;
    border-radius: 7px; 
    height: 40px;
    width: 450px;
    color: #746868;
    font-size: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

#tabelaCliente th {
    background-color: #B3A4DE;
    color: #000000;
    font-size: 20px;
    padding: var(--small-pad);
}

#tabelaCliente th:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#tabelaCliente th:nth-child(4) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}