@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  font-family: var(--font-family) !important;
}

h1 {
  font-size: var(--font-size-h1) !important;
}

html {
  color: var(--text-color);
}

p{
    color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: var(--background-menu);
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
}

.menu li img {
  width: 24px;
  height: 24px;
}

.active-page {
  background: var(--background-active-page);
  display: block;
  border-radius: 3px;
  padding-right: 10px;
    padding-left: 5px;
}

.main-content {
  background-color: var(--background-main-content);
  padding-left: 20px;
  padding: 17px 37px 93px 32px;
}

.main-content .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}

.main-content .header p{
    color: white;
}

.main-content .header .user-content {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: nowrap;
  flex-direction: row;
}

.main-content .header .user-content img {
  width: 36px;
  height: 36px;
  padding-right: 20px;
}

.main-content .search-bar {
  padding-top: 23px;
  padding-bottom: 24px;
  margin-bottom: 5px;
  width: 50vw;
  background-color: var(--background-search-bar);
  border-radius: 7px;
}

.main-content .search-bar .content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-content .search-bar .content a {
  background-color: var(--background-search-button);
  color: var(--text-color);
  padding: .3rem;
  border-radius: .3rem;
}

.main-content .search-bar .content .input-search {
  width: 407px;
  padding: 10px 0;
  border-radius: 7px;
  background: var(--background-input-search);
  padding-left: 10px;
  border: none;
}

.search-button {
  height: 35px;
}

.main-content .colunName ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 9px 50px;
  background-color: var(--background-users-ul);
  color: var(--text-color);
  margin-bottom: 10px;
  border-radius: 3px;
}

.main-content .colunName ul li {

}

.user-add {
  border-radius: 7px;
  background: var(--background-user-add);
  border: none;
  padding: 10px 20px;

  font-weight: bold;
}

.main-content .user ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  background-color: var(--background-user-ul);
  color: var(--text-color);
  margin-bottom: 10px;
  padding: 9px 0px 9px 9px;
  border-radius: 3px;
}

.active {
  background-color: var(--background-active);
  max-width: max-content;
  padding: 4px 4px;
  border-radius: 4px;
}

.rendered-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 9px 50px;
  background-color: var(--background-lista);
  color: var(--text-color);
  margin-bottom: 10px;
  border-radius: 3px;
}

.rendered-lista p {

}

.actions {
  display: flex;
  justify-content: space-between;
}

.column {

}

:root {
  --text-color: white;
  --bg-url: url(../assets/ball.svg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets/ball.svg);
}

.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

.switch button {
  width: 19px;
  height: 19px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: left 0.4s ease;
  min-left: 0;
  max-left: calc(100% - 32px);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
  left: 0;
}

.switch.moved button {
  left: calc(100% - 35px);
}

.switch.light button {
  margin-left: 1.5008px;
}

.switch.light span {
  background-color: var(--background-switch-hover);
}

.switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.switch span {
  display: block;
  width: 50px;
  height: 22px;
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  transition: background-color 0.4s ease;
  background-color: var(--background-light-switch);
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

.search-content {
  display: flex;
  gap: 20px;
}

.search-icon {
  height: 35px;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal);
  z-index: 10;
  
}



.modal-content {
  background-color:#24242D ;
  margin: 10% auto;
  padding: 20px;
border: 25px solid var(--background-modal-content);

  text-align: center;
  border-radius: 5px;
  position: relative;
  height: 200px;

  width: 801px;
height: 541px;

}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.modal-inputs{
    margin-top: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    gap: 20px;
}


.modal-input{
    width: 600px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.modal-input input{
    width: 407px;
    height: 40px;
    border: none;
    border-radius: 7px;
    
background: #D9D9D9;

}

.modal-input p{
color: #FFF;

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 27.5px; /* 114.583% */
}

.modal-button{

}

.enviar{
   padding: 7px 32px ;
 
    border-radius: 7px;
background: #8DD88B;
border: none;
width: 140px;
height: 40px;
text-align: center;
margin-left: 40px;


}

.cancelar{
   padding: 7px 32px ;
    border-radius: 7px;
    background: #D86666;
border: none;
width: 120px;
margin-right: 10px;
color: #000;


font-style: normal;
font-weight: 400;
text-align: center;


}

.fantasma{
    background-color: transparent;
    border: none;



}


.actions img {
  cursor: pointer;
}


.status-item {
    padding: 5px 10px;
    width:50px;
    background-color:var(--background-light-switch);
;
    border-radius: 4px;
    color: white;
    text-align: center;

}

.status-item-inativo {
    padding: 5px 10px;
    width: 50px;
    background-color: var(--background-switch-hover);
    border-radius: 4px;
    color: white;

}
.page-navegation{
width: 200px;

}
.page-navegation:hover{
  background: var(--background-navigation-page);
  border-radius: 3px;
    padding-right: 10px;
    padding-left: 5px;
}