:root {
  --text-color: #ffffff;
  --background-nav-color: #0e0e12;
  --background-bar-color: #b3a4de;
  --gradient-navbar: linear-gradient(to bottom, #0b0b0e, #251440, #0b0b0e);
  --default-pad: 2.5rem;
  --medium-pad: calc(var(--default-pad) / 2);
  --small-pad: calc(var(--default-pad) / 4);
  --mini-pad: calc(var(--default-pad) / 6);
  --larger-pad: calc(var(--default-pad) * 2);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Outfit, sans-serif;
  color: var(--text-color);
  display: flex;
}
input {
  border: none;
}

.logo {
  width: 155px;
  height: 100px;
}

.lupa {
  height: 35px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--medium-pad) 0rem 0rem 0rem;
}

.menu li img {
  padding-right: var(--medium-pad);
  margin: var(--small-pad);
}

.menu li a {
  color: var(--text-color);
  text-decoration: none;
}

.menu .activation {
  background: linear-gradient(to right, #7468ff, #282272, #251440);
  border-radius: 15px;
}

.menus {
  margin: var(--default-pad);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menus img {
  margin-top: var(--mini-pad);
}

.menu .activation {
  background: linear-gradient(to right, #7468ff, #282272, #251440);
  border-radius: 12px;
  padding: 2%;
  width: 180px;
}

.panelnav {
  background-image: var(--gradient-navbar);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  background: var(--background-nav-color);
  flex-grow: 1;
  padding-left: var(--default-pad);
  padding-right: var(--default-pad);
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--small-pad);
  margin-bottom: var(--small-pad);
}

.topnav h1 {
  color: var(--text-color);
  font-size: 35px;
}

.topnav .account {
  margin-right: var(--larger-pad);
}

.account .dropdown {
  display: none;
  position: absolute;
  background-color: #24242d;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.account:hover .dropdown {
  display: block;
  align-items: center;
}

.account .dropdown li:hover {
  box-shadow: 0.5px 0.5px 5px 0.5px #585863;
}

.account .perfil-user {
  list-style-type: none;
}

.account .perfil-user a {
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color);
}

.account .perfil-user a .seta-dropdown {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
}

.interactivebar {
  display: flex;
  align-items: center;
  background-color: #24242d;
  height: 80px;
  width: 564px;
  margin-bottom: var(--medium-pad);
  border-radius: 10px;
}

.interactivebar .search-button {
  margin-right: var(--larger-pad);
  margin-left: var(--medium-pad);
  background-color: var(--background-bar-color);
  border-radius: 7px;
  height: 40px;
  width: 80px;
}

.interactivebar .add-button {
  margin-right: var(--larger-pad);
  margin-left: var(--small-pad);
  background-color: var(--background-bar-color);
  border-radius: 7px;
  height: 40px;
  width: 145px;
  font-size: 22px;
}

.interactivebar .search-bar {
  margin-left: var(--small-pad);
  background-color: #d9d9d9;
  border-radius: 7px;
  height: 40px;
  width: 450px;
  color: #746868;
  font-size: 20px;
}

.addinputbar {
  display: flex;
  align-items: center;
  background-color: #24242d;
  height: auto; /* Definir altura automática para ajustar o conteúdo */
  width: 100%; /* Largura de 100% para ocupar toda a largura disponível */
  max-width: 1500px; /* Largura máxima para evitar que a div cresça demais */
  margin-bottom: var(--medium-pad);
  border-radius: 10px;
}

.addinputbar input {
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.addinputbar select {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 20px;
}

.addinputbar .input-bar {
  margin-left: var(--small-pad);
  background-color: #d9d9d9;
  border-radius: 7px;
  height: 30px;
  width: 150px;
  color: #746868;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

.input {
  display: grid;
  margin-top: 10px;
  margin-left: 10px;
}

.coluna1 {
  padding: 5px;
  margin-right: 5px;
}

.coluna2 {
  padding: 5px;
  margin-right: 5px;
}

.coluna3 {
  padding: 5px;
  margin-right: 5px;
}

.tipo {
  display: flex;
  justify-content: space-between;
}

.cliente {
  display: flex;
  justify-content: space-between;

  height: 40px;
}
.cr {
  display: flex;
  justify-content: space-between;

  height: 40px;
}

.justificativa {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.datainicio {
  display: flex;
}

.horainicio {
  display: flex;
}

.projeto {
  display: flex;
}

.datafim {
  display: flex;
}

.horafim {
  display: flex;
}

.solicitante {
  display: flex;
}

.limpar-button {
  background-color: #d86666;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.adicionar-button {
  background-color: #8dd88b;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.acionamento-button {
  background-color: #63c0f4;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  display: inline-block;
  margin-bottom: 10px;
}

.custom-label {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
}

.small-input {
  width: 50px;
}

#tabelaLancamento {
  background-color: #b3a4de;
  color: #000000;
  font-size: 20px;
  padding: var(--small-pad);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 5px;
  padding: 5px 20px;
}

#listaHoras {
  margin-top: 10px;
  height: 300px;
  overflow-y: auto;
  border-radius: 13px;
  background-color: #24242d;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.horaLancada {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 5px;
  background: #d9d9d9;
  color: #000000;
  padding: 10px 15px;
  font-size: 14px;
}

.horaLancada:hover {
  filter: brightness(1.2);
}
.horaLancada p {
  align-self: center; /* Alinha verticalmente os itens no centro */
}
